body {
  font-family: Arial, sans-serif;
  padding: 10px;
  max-width: 600px;
  margin: auto;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

button.correct {
  background-color: #4caf50;
  color: white;
}

button.incorrect {
  background-color: #f44336;
  color: white;
}

button.correct:hover,
button.incorrect:hover {
  opacity: 0.8;
}

#flashcards {
  margin-top: 20px;
}

.flashcard {
  background-color: #f0f0f0;
  padding: 20px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.side {
  font-size: 18px;
}

.hidden {
  display: none;
}

.flashcard:hover {
  background-color: #e0e0e0;
}
